@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html,body{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body{
    display: flex;
}

header{
    border: 2px solid #ccc;
    height: 100vh;
    width: 300px;
    padding: 10px;
}


nav h1{
    font-size: 25px;
    font-weight: 400;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

nav ul li{
    list-style: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    padding: 10px;
}

nav ul li:hover{
    background: #ccc;
    transition: 0.3s ease-in-out;
}

nav a{
    text-decoration: none;
    color: black;
}

main{
    max-width:1200px ;
    margin: 20px;
    padding: 50px;
}

section{
    margin-bottom: 30px;
}

section h2{
    border-bottom: 2px solid #ccc;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

section article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    text-align: justify;
    }

    article ul li{
        margin-left: 30px;
    }

    code{
        white-space:pre-line;
        border: 2px solid #ccc;
        background-color: #ccc;
        align-self: flex-start;
        line-height: 2;
    }

    @media screen and (max-width:480px){
        body{
            flex-direction:column;
        }
        header{
            height: 200px;
            overflow: hidden;
            overflow-y: scroll;
            width: 100%;
        }
    }